body {
    background-color: #f2f4f8;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 40px;
}

.card {
    background-color: white;
    max-width:  700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 15px rgba(190, 112, 112, 0.15);
}

h1 {
    color: #2563eb;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: #1e40af;
    margin-top: 30px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

strong {
    color: #2563eb;
}

i {
    color: #7e3aed;
}