.topo {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 8%; 
    background: #000000;
    color: white;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.form{
    width: 300px;
    height: 150px;
    background-color: rgba(52, 192, 202, 0.582);
    padding: 20px;
    border: 2px solid rgba(8, 8, 102, 0.781);
    margin: 20px;
    margin: 50px auto;
    box-shadow: 2px 3px 10px rgba(8, 8, 102, 0.781);
}

