* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif; background: #fafcfb;
    color: #302c2c;
}

.topo {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 8%; 
    background: #000000;
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.sobre img {
    width: 180px;
    max-width: 100%;
    border-radius: 12px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1; 
    padding: 24px;
    background: #fafcfb;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(2, 1, 1, 0.603);
}

.botao {
    display: inline-block;
    margin-top: 12px;
    padding: 12px 20px;
    background: #0000006e;
    color: white;
    text-decoration: none;
    border-radius: 35px;
    transition: .3s;
}

.botao:hover {
    background: black;
    transform: scale(1.05);
}

footer{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
}